{% extends "base.html" %}

	{% block content%}
	  <!-- Page Header -->
 {% include '_blog_header.html' %}

	<h1 class="text-center text-decoration-underline">Liste de postes </h1>
		<div class="row">

			<div class="col-lg-8 col-md-10 mx-auto">
			


			
			{% for i in posts%}


				<div class="post-preview">
	          <a href="{% url 'post_detail' i.id%}">
	            <h2 class="post-title">
	              {{i.title}}
	            </h2>
	            <h3 class="post-subtitle">
	              {{i.text|truncatechars:60}}
	            </h3>
	          </a>
	          <p class="post-meta">Posté par
	            <a href="#">{{i.author.username}}</a>
	            le {{i.published_date}}</p>
	        </div>
	        <hr>
				
				<!-- 
			
						<p>Published : {{i.published_date}}</p>
						<h2><a href="{% url 'post_detail' i.id%}">{{i.title}}</a></h2>
						<p>{{i.text}}</p>
			-->


				{% empty%}
				<p>Aucun Post pour le moment </p>

			{% endfor %%}
		
			
			</div>
		
		</div>

{% endblock%}