{% extends "base.html" %}

	{% block title %}
	posts : Draft

	{% endblock title %}

	{% block content%}

	<!-- Page Header -->
	{% include '_blog_header.html' %}

	<h4 class="text-center">Les posts qui ne sont pas encore approuvés <i class="fas fa-sync fa-spin"></i> </h4>
		<div class="container content text-center">
			
			
			{% for i in posts%}

						<div class="mb-1" style="border: solid 1px;">
							<a class="btn btn-success" href="{% url 'post_publish' i.id %}">Publier</a> <i class="fas fa-check"></i> | 
							<a class="btn btn-warning" style="text-decoration: none;" href="{% url 'post_edit' i.id %}">Modifier <i class="fas fa-pencil-alt"></i></a>
	
				
							<p>Published : {{i.published_date}}</p>
							<h2><a href="{% url 'post_detail' i.id%}">{{i.title}}</a></h2>
							<p>{{i.text}}</p>
						</div>
			

			{% endfor %%}
		
			
		</div>

{% endblock%}